.content {
  /* position: relative;
  color: azure; */
  width: 70%;
  height: 80vh;
  left: 30%;
  top: 10%;
  bottom: 10%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
/* .second-content .left-content {
  padding: 60px;
  text-align: left;
} */
/* .right-image img {
  width: 100px;
} */
