.slides .slide {
  height: 100vh;
  width: 100vw;
  float: left;
  text-align: center;
  /* background-size: cover; */
}
.slides .slide .content {
  overflow-y: scroll;
  /* overflow-y: hidden; */
  position: relative;
  color: azure;
  width: 70%;
  height: 80vh;
  left: 30%;
  top: 10%;
  bottom: 10%;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
